cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.0
joblib==1.4.2
nltk==3.8.1
numpy==2.0.1
pdfminer.six==20231228
pdfplumber==0.11.2
pillow==10.4.0
pycparser==2.22
pypdfium2==4.30.0
regex==2024.7.24
scikit-learn==1.5.1
scipy==1.13.1
threadpoolctl==3.5.0
tqdm==4.66.4
